<html>
    <head>
        <title>MetaSRA</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>
    
    <body>
    <div id=container>
        <h1 class=page_title>MetaSRA</h1>
        <div class=nav_bar>
         <ul>
            <li class=nav_item><a href="/">Home</a></li>
            <li class=nav_item><a href="/download">Download</a></li>
            <li class=nav_item><a href="/faq">FAQ</a></li>
            <li class=nav_item><a href="/users">Mailing list</a></li>
            <li class=nav_item><a href="/publication">Publication</a></li>
            <li class=nav_item><a href="/links">Links</a></li>
            <li class=nav_item><a href="/contact">Contact</a></li>
         </ul> 
        </div>

        <h3 class=section_title>Contact</h3>

        <p>
        MetaSRA was developed and is maintained by Matthew N. Bernstein, 
        AnHai Doan, and Colin N. Dewey at the University of Wisconsin - Madison.
        </p>

        <p>
        If you have a question concerning the MetaSRA, we suggest you post your question publicly
        in the <a href="https://groups.google.com/forum/#!forum/metasra-users">User Group</a> 
        for others to benefit. For other questions or concerns,
        you may email Colin at
        <script src="/static/email.js"></script>. 
        </p>


        <div class="footer_images">
            <a href="http://www.cpcp.wisc.edu/" target="_blank"><img class="footer_logo" src="static/cpcp_logo.png" style="width:250px;"/></a>
            <a href="http://www.wisc.edu/" target="_blank"><img class="footer_logo" src="static//uw_madison_logo.png" style="width:150px;"/></a>
        </div>
        <div class="copyright"><p>&copy; 2017</p></div>

    </div>

    </body>
    
</html>
