$def with (version_links)

<html>
    <head>
        <title>MetaSRA</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    
    <body>
        <div id=container>
        <h1 class=page_title>MetaSRA</h1>
        <div class=nav_bar>
         <ul>
            <li class=nav_item><a href="/">Home</a></li>
            <li class=nav_item><a href="/download">Download</a></li>
            <li class=nav_item><a href="/publication">Publication</a></li>
            <li class=nav_item><a href="/links">Links</a></li>
         </ul> 
        </div>

        <h3 class=section_title>Download</h3>
        <p>
        We provide the MetaSRA in two formats: a JSON text file and an Sqlite database. 
        Versions of the MetaSRA are available through links below:</p>
        <br>
        <div id="download_links">
            <!-- This should be populated by web.py with all versions of the MetaSRA -->
        </div>

    </body>
    
</html>
