<html>
    <head>
        <title>MetaSRA</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>
    
    <body>
    <div id=container>
        <h1 class=page_title>MetaSRA</h1>
        <div class=nav_bar>
         <ul>
            <li class=nav_item><a href="/">Home</a></li>
            <li class=nav_item><a href="/download">Download</a></li>
            <li class=nav_item><a href="/faq">FAQ</a></li>
            <li class=nav_item><a href="/users">Mailing list</a></li>
            <li class=nav_item><a href="/publication">Publication</a></li>
            <li class=nav_item><a href="/links">Links</a></li>
            <li class=nav_item><a href="/contact">Contact</a></li>
         </ul> 
        </div>

        <h3 class=section_title>Frequently asked questions</h3>

        <h3 class=subsection_title>How often is the MetaSRA updated?</h3>
        <p>
        MetaSRA obtains the raw metadata from the 
        <a href="https://bioconductor.org/packages/release/bioc/html/SRAdb.html">SRAdb</a> 
        project. The MetaSRA will be updated when the SRAdb is updated.  The MetaSRA
        will also be updated when improvements are made to the computational pipeline
        that performs the annotation.
        </p>

        <h3 class=subsection_title>Does the MetaSRA label non-human samples?</h3>
        <p>
        No. At the current time, MetaSRA only contains annotated data for human 
        samples.  
        </p>

        <h3 class=subsection_title>How were the samples labelled?</h3>
        <p>
        Each sample's raw metadata was annotated using a custom automated computational pipeline.              
        This pipeline is described in detail in the 
        <a href="http://biorxiv.org/content/early/2016/12/19/090506"> publication</a>.
        </p>



        <div class="footer_images">
            <a href="http://www.cpcp.wisc.edu/" target="_blank"><img class="footer_logo" src="static/cpcp_logo.png" style="width:250px;"/></a>
            <a href="http://www.wisc.edu/" target="_blank"><img class="footer_logo" src="static//uw_madison_logo.png" style="width:150px;"/></a>
        </div>
        <div class="copyright"><p>&copy; 2017</p></div>

    </div>

    </body>
    
</html>
