<html>
    <head>
        <title>MetaSRA</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>

    <body>
        <div id=container>
        <h1 class=page_title>MetaSRA</h1>
        <div class=nav_bar>
         <ul>
            <li class=nav_item><a href="/">Home</a></li>
            <li class=nav_item><a href="/download">Download</a></li>
            <li class=nav_item><a href="/publication">Publication</a></li>
            <li class=nav_item><a href="/links">Links</a></li>
         </ul>
        </div>

        <h3 class=section_title>Links to useful resources</h3>

        <h3 class=subsection_title>Sequence Read Archive</h3>

        <p>
        <a href="https://www.ncbi.nlm.nih.gov/sra/">https://www.ncbi.nlm.nih.gov/sra/</a>
        </p>

        <h3 class=subsection_title>Ontologies</h3>
        <p>
        MetaSRA annotates samples with the following ontologies:
        <br>
        <ul>
        <li><a href="http://obofoundry.org/ontology/cl.html">Cell Ontology</a></li>
        <li><a href="http://web.expasy.org/cellosaurus/">Cellosaurus</a></li>
        <li><a href="http://disease-ontology.org/">Disease Ontology</a></li>
        <li><a href="http://www.ebi.ac.uk/efo/">Experimental Factor Ontology</a></li>
        <li><a href="http://uberon.github.io/">Uberon</a></li>
        <li><a href="https://github.com/bio-ontology-research-group/unit-ontology">Unit Ontology</a></li>
        </ul>
        These ontologies can be searched using the 
        <a href="http://www.ebi.ac.uk/ols/search?q=brain&submit1=1&ontology=efo&ontology=uberon&ontology=cl&ontology=doid">Ontology Lookup Service</a>.
        </p>

        <h3 class=subsection_title>SRAdb</h3>
        <p>Raw metadata in the SRA has been collected by the SRAdb project:<br>
        <a href="https://bioconductor.org/packages/release/bioc/html/SRAdb.html">https://bioconductor.org/packages/release/bioc/html/SRAdb.html</a>
        </p>

        <h3 class=subsection_title>Publication</h3>
        <p>
        A pre-print describing the MetaSRA can be found at the bioRxiv:<br>
        <a href="http://biorxiv.org/content/early/2016/12/19/090506">http://biorxiv.org/content/early/2016/12/19/090506</a> 
        </p>

        <h3 class=subsection_title>Source code</h3>
        <p>
        The code used to construct the MetaSRA is maintained on GitHub:<br>
        <a href="https://github.com/deweylab/metasra-pipeline">https://github.com/deweylab/metasra-pipeline</a>
        </p>

        <h3 class=subsection_title>Users group</h3>
        <p>
        To ask questions and recieve updates, join the MetaSRA users group:<br>
        <a href="https://groups.google.com/forum/#!forum/metasra-users">https://groups.google.com/forum/#!forum/metasra-users</a>
        </p>
   
        <h3 class=subsection_title>The MetaSRA team</h3>
        <p>The MetaSRA is developed and maintained by:
        <ul>
        <li><a href="http://pages.cs.wisc.edu/~matthewb/pages/welcome/welcome.html">Matthew N. Bernstein</a></li>
        <li><a href="http://pages.cs.wisc.edu/~anhai/">AnHai Doan</a></li>
        <li><a href="https://www.biostat.wisc.edu/~cdewey/">Colin N. Dewey</a></li>
        </ul>
        </p>

         <div class="footer_images">
            <a href="http://www.cpcp.wisc.edu/" target="_blank"><img class="footer_logo" src="static/cpcp_logo.png" style="width:250px;"/></a>
            <a href="http://www.wisc.edu/"target="_blank"><img class="footer_logo" src="static//uw_madison_logo.png" style="width:150px;"/></a>
        </div>

        </div> 

    </body>

</html>

