<html>
    <head>
        <title>MetaSRA</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>

    <body>
        <div id=container>
        <h1 class=page_title>MetaSRA</h1>
        <div class=nav_bar>
         <ul>
            <li class=nav_item><a href="/">Home</a></li>
            <li class=nav_item><a href="/download">Download</a></li>
            <li class=nav_item><a href="/publication">Publication</a></li>
            <li class=nav_item><a href="/links">Links</a></li>
         </ul>
        </div>

        <h3 class=section_title>Publication</h3>
        <p>
        A pre-print describing the MetaSRA can be found at the bioRxiv:<br>
        <a href="http://biorxiv.org/content/early/2016/12/19/090506">http://biorxiv.org/content/early/2016/12/19/090506</a> 
        </p>

        <p>
        The manuscript is currently under submission.
        </p>

        <h3 class=subsection_title>Manually annotated data used in the study</h3>
      
        <p> 
        To evaluated the methods described in the paper, we manually annotated raw metadata from
        the Sequence Read Archive.  All raw metadata was retrieved from the 
        <a href="https://bioconductor.org/packages/release/bioc/html/SRAdb.html">SRAdb</a>.
        </p>

        <p>
        XXXX samples were manually annotated with mapped
        ontology terms, real-value properties, and sample-type. 
        This dataset was used as a test set to evaluate the ontology mapping
        pipeline and sample-type prediction algorithm:
        <ul>
            <li><a href="/TODO">TODO</a></li>
        </ul>
        </p>
        
        <p>
        XXXX samples were labelled only with the sample-type. This dataset was used
        to train the sample-type classifier:
         <ul>
            <li><a href="/TODO">TODO</a></li>
        </ul>
        </p>

        <div class="footer_images">
            <a href="http://www.cpcp.wisc.edu/" target="_blank"><img class="footer_logo" src="static/cpcp_logo.png" style="width:250px;"/></a>
            <a href="http://www.wisc.edu/"target="_blank"><img class="footer_logo" src="static//uw_madison_logo.png" style="width:150px;"/></a>
        </div>

        </div>
        

    </body>

</html>

